.App{
  background-color: #FFA500;
  padding: 50px 0;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}


.heading{
  text-align: center;
  color: #fff;
}
.profile{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  margin: 0 auto;
  column-gap: 10px;
  row-gap: 10px;
}

.card{
  background-color: #fff;
  padding: 10px;
}

.loading{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 45%;
}

.filter-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  background-color: #F7F7F7;
  padding: 15px;
}

.filter-btn{
  margin-right: 5px;
}

.filter-btn:hover{
  margin-right: 5px;
  background-color: #ED017F;
}

input{
  width: 500px;
  font-size: 18px;
  padding: 5px;
  outline: none;
}

.pagination{
  width: 90%;
  margin-bottom: 20px;
  margin: 10px auto;
  color: #fff;
}

.pagination ul{
  list-style: none;
  margin: 0 auto;
}

.pagination ul li{
  float: left;
  margin-right: 10px;
  font-size: 20px;
  background-color: #fff;
  padding: 10px 15px;
  list-style: none;
  color: #fff;
  display: inline-flex;
  
}

@media screen and (max-width: 570px) {
  .profile{
    width: 95%;
    grid-template-columns: auto;
  }

  .filter-box{
    flex-direction: column;
  }

  input{
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 571px) and (max-width: 768px) {
  .profile{
    width: 95%;
    grid-template-columns: auto auto;
  }

  .filter-box{
    flex-direction: column;
  }

  input{
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .profile{
    width: 95%;
    grid-template-columns: auto auto auto;
  }

  input{
    width: 90%;
    margin-top: 20px;
  }
}
